.cookie-container {
    position: relative;
    top: 0;
    left: 0;
}

.halo-image {
    animation: halo-image-spin infinite 40s linear;
    position: relative;
    width: 580px;
    top: 0;
    left: 0;
}

.cookie-image {
    position: absolute;
    top: 160px;
    left: 170px;
    width: 260px;
    cursor: pointer;
}

@keyframes halo-image-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}