.cookie-container {
    text-align: center;
    padding: 100px;
}

.cookie-container img {
    width: 50%;
    height: 50%;
} 

.cookie-image {
    animation: cookie-image-spin infinite 17s linear;
}

@keyframes cookie-image-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
