.header {
    padding-top: 180px;
    padding-right: 50px;
}

.text-cookie {
    color: #D37600;
    font-size: 70px;
    font-weight: 500;
}

.text-clicker {
    color: rgb(51, 16, 1);
    font-size: 70px;
    font-weight: 500;
}

.text-description {
    font-size: 25px;
    padding-left: 6px;
}


.pointer-image img {
    width: 60px;
    transform: rotate(100deg);
}

.pointer-image {
    position: relative;
    left: 90%;
    top: 5px;
    animation: point-at-cookie infinite 10s linear;
}

@keyframes point-at-cookie {
    0% {
		transform: translate(0, 0);
	}
	5% {
		transform: translate(25px, -25px);
	}
    10% {
        transform: translate(0, 0);
    }
    15% {
        transform: translate(25px, -25px);
    }
    20% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(0,0);
    }
}