
/*
.box1 {
    position: absolute;
    left: 0%;
    top: 20%;
    outline: 2px dashed rgb(210, 97, 41);
}

.box2 {
    position: absolute;
    left: 20%;
    top: 10%;
    outline: 2px dashed blue;
}

.box2 img {
    width: 55%;
}



.pointer-image img {
    width: 12%;
    height: 12%;
    transform: rotate(94deg);
}

.pointer-image {
    position: absolute;
    left: 39%;
    top: 70%;
    animation: point-at-cookie infinite 10s linear;
}

@keyframes point-at-cookie {
    0% {
		transform: translate(0, 0);
	}
	5% {
		transform: translate(25px, -25px);
	}
    10% {
        transform: translate(0, 0);
    }
    15% {
        transform: translate(25px, -25px);
    }
    20% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(0,0);
    }
}*/