.cookie-container {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}

.halo-image {
    animation: halo-image-spin infinite 40s linear;
    position: relative;
    width: 580px;
    top: -25px;
    left: 0;
}

.cookie-image {
    position: absolute;
    top: 232px;
    left: 165px;
    width: 260px;
    cursor: pointer;
}

.cookie-image:hover {
    animation: hoverEnlargeCookie 0.1s linear 0s 1 forwards;
}

.cookie-image:active {
    animation: bounce 0.1s linear 0s 1 forwards;
}

.money-status {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.872);

    padding: 20px 0px;
    margin: 20px 100px;
    background-color: rgb(213, 124, 72);
    border-radius: 10px;
    background-image: url("../images/money-status-bg.png");
    background-size: cover;
}


@keyframes hoverEnlargeCookie {
    from {
        transform: scale(1,1);
    }
    to {
        transform: scale(1.05,1.05);
    }
}

@keyframes halo-image-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    from {
        transform: scale(1,1);
    }
    to {
        transform: scale(0.95,0.95);
    }
}
