* {
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(51, 16, 1);
    color: rgb(252, 238, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 120px;
} 

.navbar a {
    color: inherit;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 40px;
    cursor: pointer;
}

.about {
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    gap: 7px;
}

.register {
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    gap: 7px;
}

.kookie {
    font-size: 2rem;
}

.navbar li:hover {
    color: rgb(255, 239, 146);
}