
#signpost {
    position: relative;
    cursor: pointer;
}

#signpost-text {
    position: absolute;
    top: -145px;
    left: 87px;
    font-size: 31px;
    font-weight: 600;
    color: rgb(93, 40, 5);
}

#signpost-img {
    position: absolute;
    top: -250px;
    width: 250px;
}

/*cut image of signpost in half, only board is skewed. Then animate onhover or 
infinite loop*/
